<p class="text">
  <span data-i18n-key="desc_main_1_benefit" data-variables='{"benefit":"{{benefitText}}"}'>desc_main_1_benefit</span>
</p>
<p class="text">
  <span data-i18n-key="mob_main_2">mob_main_2</span> <br>
  <span data-i18n-key="mob_main_4">mob_main_4</span>
</p>
{{#if simpleOptOut}}
  {{> simple-opt-out}}
{{/if}}
