<div class="simple-opt-out">
  <p class="text">Web indexing is <span class="status">{{status}}</span></p>
  <p class="text"><span data-i18n-key="desc_opt_out">desc_opt_out</span> Press 5 for settings.</p>
</div>
